
<div class="card card-body">

    <div class="d-flex justify-content-end">
        <div>
            <button class="btn btn-primary btn-sm mb-3" routerLink="/dashboard/categories/add"> {{ 'Add new'  | translate }}</button>
     
        </div>
    </div>

    <div class="text-muted text-center" *ngIf="loading == true">
        <p>
            {{ 'Loading...'  | translate }}
        </p>
    </div>


    <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{ 'WAITALERT'  | translate }}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{ 'DELETEMESSAGE'  | translate }}
        </div>
        <div class="modal-footer">
                <button class="btn btn-danger" (click)="confirmAndDelete()" > {{ 'CONFIRM'  | translate }}</button>
        </div>
      </ng-template>



     

    <table class="table" *ngIf="loading != true">
        <thead>
            <tr>
                <td>{{ 'Name'  | translate }}</td>
                <td>{{ 'DESCREPTION'  | translate }}</td> 
                <td class="text-end">Actions</td>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let c of categories">
                <td>
                    {{ c.name }}
                </td>
                <td>
                    {{ c.description }}
                </td>
                
                <!--<td>
                    <a [routerLink]=" '/categories/category/parent/'+c.id ">{{ c.children.length }} {{'Sub-category' | translate}}</a>
                </td>-->
                
                <td class="text-end">
                    <button [routerLink]=" '/dashboard/categories/edit/'+c.id " class="btn btn-secondary btn-sm me-3" >
                        
                        <i class='bx bxs-edit'></i>
                    </button>

                    <button class="btn btn-danger btn-sm" (click)="deleteCategory(template,c.id)" >
                        <i class='bx bx-trash'></i>
                    </button> 
                </td>
                
            </tr>
        </tbody>
    </table>
</div>