
<div class="card">
    <div class="card-body">

        <div class="d-flex justify-content-end">
            <div>
                <button class="btn btn-primary btn-sm mb-3" routerLink="/dashboard/users"> {{ 'Back'  | translate }}</button>
         
            </div>
        </div>


        <form [formGroup]="form" (ngSubmit)="save()" >
            

            <div class="row">
                <div class="col-sm-6"> 
                        <div class="mb-3">
                            <label for="">{{ 'PASSWORD' | translate }}</label>
                            <input type="password" class="form-control" formControlName="password">
                        </div>   
                </div>
                <div class="col-sm-6"> 
                        <div class="mb-3">
                            <label for="">{{ 'CONFIRM_PASSWORD' | translate }}</label>
                            <input type="password" class="form-control" formControlName="confirm_password">
                        </div>   
                </div>
                
            </div>

 
            

            <div class="mb-3">
                <button type="submit" class="btn btn-success" [disabled]="! form.valid">{{ 'UPDATE' | translate }}</button>
             </div>
 
            
             

            

            <div class="alert alert-info" *ngIf="loading == true ">
                {{ 'Loading...' | translate }}
            </div>

            <div class="alert alert-success" *ngIf="success != ''">
                {{ success | translate }}
            </div>
            <div class="alert alert-danger" *ngIf="error != ''">
                {{ error | translate }}
            </div>
            
            
        </form>
    </div>
</div>